---
import Section from "./Section.astro";
import { Image } from "astro:assets";
import type { ProjectProps } from "@types";

interface Props {
  projects: ProjectProps[];
}

const { projects } = Astro.props;
---

<Section text="Projects" href="projects">
  {
    projects.map(({ name, summary, image, linkPreview, linkSource }) => (
      <div class="w-full min-h-56 relative z-[1] bg-[#1c232d]/85 bg-difu before:content-[''] before:rounded-2xl before:absolute before:z-[-1] before:opacity-[5%] before:inset-0 before:bg-[url(/raja.png)] before:bg-repeat before:bg-[length:128px] rounded-2xl flex flex-col mb-10">
        <div class="p-6 py-12">
          <h3 class="text-3xl font-medium font-serif mb-5 text-primary">
            {name}
          </h3>
          <p class="text-neutral text-base">{summary}</p>
          <div class="pt-10 flex gap-0 text-white">
            <a
              href={linkSource}
              target="_blank"
              class="hover:underline after:content-[url(/external.svg)] after:relative after:bottom-[-5px]"
            >
              Source
            </a>
          </div>
        </div>
  
      </div>
    ))
  }
</Section>
